<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        p{
            width:500px;
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>
<div id="l1">

    <p style="float:right;">
        以往老周看过有些人做的简历，成本不下于30块钱，做得像婚宴请帖似的。弄个华丽的封面，比皇帝的圣旨还华丽；
        简历后面还搞个封底，封底还是硬纸做的，比名人的法帖还庄重。更有甚者，外面还用一个袋子装着，弄得像精装图书似的。
        搞这些东西既浪费时间，也浪费钱，你那么有钱，不如请老周吃一个星期的饭更好。
    </p>
    <p>
        不要幼稚地认为，你这样花心思地去做简历，就能打动招聘人员，就能录用你，除非那个招聘人员脑子被野鸭子踢了。
        你得想一想，万一别人不录用你，你想想你做得比圣旨还华丽的简历的命运会如何，老周实话告诉你——全扔进垃圾桶。
        最后赏识你那华丽简历的不是招聘人员，而是收购废弃品的人。
    </p>

</div>
</body>
</html>