/**CSS Document */

*,*:before,*:after {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;}

html,body {	height: 100%;	width: 100%;	overflow: hidden;	background-size: 100% auto;}

html {	font-family: 'Microsoft Yahei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;	-ms-text-size-adjust: 100%;	-webkit-text-size-adjust: 100%;	font-size: 62.5%;	background: #fff;}

img {width: 100%;	vertical-align: top;}
.clear{ clear:both; height:0; font-size:0; overflow:hidden; width:100%;}

/*common*/

.cw { max-width: 640px; height: 100%;	margin: 0 auto;	overflow: hidden;}

.pages {	width: 100%;	height: 100%;	position: relative;}

.page {	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;	overflow: hidden;	transform: translate3d(0, 100%, 0px);	-webkit-transform: translate3d(0, 100%, 0px);	-moz-transform: translate3d(0, 100%, 0px);	transition: transform 0.5s ease-out;	-webkit-transition: -webkit-transform 0.5s ease-out;	-moz-transition: -moz-transform 0.5s ease-out;}

/*loader*/
.loader{max-width:640px;width:100%;height:100%;margin:0 auto;position:relative;background:#dcdcdc url(../img/loading_bg.jpg) no-repeat;background-size:100% 100%;color:#ff8400;font-size:16px; z-index: 210;}
.loader img{width:30%;}
.loader .loader_box{width:100%;height:100%;display:-webkit-box;display:-moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;vertical-align:top;}
.loader .loader_ico{width:83px;height:94px;position:relative;margin-top:-40px;background:url(../img/loading_ico.png) 50% 50% no-repeat;background-size:100% 100%;}
.loader .loader_num{position:absolute;top:94px;left:0;width:100%;text-align:center;padding-top:10px;font-size:2rem;font-family: 'Microsoft Yahei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
.loader .loader_logo{position:absolute;width:100%;bottom:20px;text-align:center;}
.loader .spot{opacity:0;}
.loader_spot{width:100%;height:100%;position:relative;}
.loader_spot .spot{position:absolute;color:#ff8400;line-height:100%;}
.loader_spot .spot1{left:6px;top:87px;-webkit-animation-delay:0.1s;-moz-animation-delay:0.1s;}
.loader_spot .spot2{left:-3px;top:72px;-webkit-animation-delay:0.2s;-moz-animation-delay:0.2s;}
.loader_spot .spot3{left:-11px;top:54px;-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s;}
.loader_spot .spot4{left:-14px;top:34px;-webkit-animation-delay:0.4s;-moz-animation-delay:0.4s;}
.loader_spot .spot5{left:-11px;top:15px;-webkit-animation-delay:0.5s;-moz-animation-delay:0.5s;}
.loader_spot .spot6{left:0px;top:-2px;-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;}
.loader_spot .spot7{left:14px;top:-11px;-webkit-animation-delay:0.7s;-moz-animation-delay:0.7s;}
.loader_spot .spot8{left:29px;top:-15px;-webkit-animation-delay:0.8s;-moz-animation-delay:0.8s;}
.loader_spot .spot9{left:40px;top:-11px;-webkit-animation-delay:0.9s;-moz-animation-delay:0.9s; display: none;}
.loader_spot .spot10{right:30px;top:-15px;-webkit-animation-delay:1.0s;-moz-animation-delay:1.0s;}
.loader_spot .spot11{right:14px;top:-11px;-webkit-animation-delay:1.1s;-moz-animation-delay:1.1s;}
.loader_spot .spot12{right:0px;top:-2px;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;}
.loader_spot .spot13{right:-11px;top:15px;-webkit-animation-delay:1.3s;-moz-animation-delay:1.3s;}
.loader_spot .spot14{right:-14px;top:34px;-webkit-animation-delay:1.4s;-moz-animation-delay:1.4s;}
.loader_spot .spot15{right:-11px;top:54px;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;}
.loader_spot .spot16{right:-3px;top:72px;-webkit-animation-delay:1.6s;-moz-animation-delay:1.6s;}
.loader_spot .spot17{right:6px;top:87px;-webkit-animation-delay:1.7s;-moz-animation-delay:1.7s;}
/*loader_spot必须加上*/
.loader_spot .spot{  -webkit-animation-name:loading;  -webkit-animation-duration:1s;  -webkit-animation-timing-function:linear;  -webkit-animation-fill-mode:both;  -moz-animation-name:loading;  -moz-animation-duration:1s;  -moz-animation-timing-function:linear;  -moz-animation-fill-mode:both;}
@-webkit-keyframes loading{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes loading{0%{opacity:0;} 100%{opacity:1;}}


.page .content{
    height:100%;
    background:#faee00 url(../img/bg_arrow.png)  no-repeat;
    background-size:100% ;
}
.page span{
    position: absolute;
}
.page .frame{
  height:100%
}
.page1 span.logo{
    width:50%;
    left:25%;
    top:6%;
}
.page1 span.title{
    width:86%;
    left:7%;
    top:18%;
    opacity: 0;
}
.page1 span.text{
    width:60%;
    left:25%;
    top:48%;
}
.page1 span.text{
    width:60%;
    left:25%;
    top:48%;
}
.page1 span.house{
    width:100%;
    bottom:9.6%;
}
.page1 .jz_a {
    left:5%;
}
.page1 .jz_a img{
    width:20%;
}
.page1 .jz_b {
    left:24%;
}
.page1 .jz_b img{
    width:40%;
}
.page1 .jz_c{
    left:64%;
}
.page1 .jz_c img{
    width:30%;
}
.page1 .road{
    width:87.6%;
    left:6%;
    bottom:3.6%;
}
.page1 .ren{
    width:76%;
    left:4%;
    bottom:0;
}
.page1 .arrow{
    left:50%;
    bottom:5%;
}
.page1 .arrow img{
    width: 60%;
}
.page1.play .logo{
    animation: drop 0.5s 0.5s forwards;
}
.page1.play .title{
    animation: bounce 0.5s 1s forwards;
}
.page1.play .road{
    animation: fadeIn 0.5s 1.5s forwards;
}
.page1.play .jz_a{
    animation: fadeIn 0.5s 2s forwards;
}
.page1.play .jz_c{
    animation: fadeIn 0.5s 2.5s forwards;
}
.page1.play .jz_b{
    animation: fadeIn 0.5s 3s forwards;
}
.page1.play .ren{
    animation: fromleft 0.5s 3.5s forwards;
}
.page1.play .text{
    animation: fromright 0.5s 4s forwards;
}
.page1.play .arrow{
    animation: showhide 1s 4.5s infinite ;
}
/*page1*/
.page2 .text1,.page2 .text2,.page2 .text3{
    top:5%;
    width:80%;
    left:10%;
}
.page2 .text1{
  top:5%;
}
.page2 .text2{
    top:15%;
}
.page2 .text3{
    top:25%;
}
.page2 .building{
    width:87.6%;
    left:6%;
    bottom:4%;
}
.page2 .block{
    width:60%;
    right:6%;
    bottom:5%;
}
.page2 .earth{
    width:50%;
    right:6.5%;
    bottom:10%;
    z-index:3;
}
.page2 .lable_1{
    bottom: 30%;
    right: 20%;
    width: 35%;
    z-index: 2;
}

.page2 .lable_2{
    bottom: 29%;
    right: 25%;
    width: 45%;
    z-index: 2;
}
.page2 .lable_3{
    bottom: 32%;
    width: 40%;
    left: 16%;
    z-index: 2;
}
.page2 .lable_4{
    bottom: 27%;
    width: 40%;
    left: 11%;
    z-index: 2;
}
.page2 .lable_5{
    width:40%;
    bottom: 20%;
    left: 10%;
    z-index: 2;
}
.page2 .lable_6{
    width:40%;
    bottom: 11%;
    left: 10%;
    z-index: 2;
}
.page2.play .building{
    animation: fadeIn 0.3s  forwards;
}
.page2.play .block{
    animation: fadeIn 0.2s 0.2s forwards;
}
.page2.play .text1{
    animation: fromleft 0.5s 0.5s forwards;
}
.page2.play .text2{
    animation: fromright 0.5s 1s forwards;
}
.page2.play .text3{
    animation: fromleft 0.5s 1.5s forwards;
}
.page2.play .earth{
    animation: bounce 0.5s 2s forwards;
}
.page2.play .lable_1{
    animation: fadeIn 0.5s 2.5s forwards;
}
.page2.play .lable_2{
    animation: fadeIn 0.5s 3s forwards;
}
.page2.play .lable_3{
    animation: fadeIn 0.5s 3.5s forwards;
}
.page2.play .lable_4{
    animation: fadeIn 0.5s 4s forwards;
}
.page2.play .lable_5{
    animation: fadeIn 0.5s 4.5s forwards;
}
.page2.play .lable_6{
    animation: fadeIn 0.5s  5s forwards;
}
/*动画*/
.page1 .logo,.page1 .title,.page1 .text,.page1 .road,.page1 .ren,.page1 .jz_a,.page1 .jz_b,.page1 .jz_c,.page1 .arrow{opacity:0;}
.page2 .text1,.page2 .text2,.page2 .text3,.page2 .lable_1,.page2 .lable_2,.page2 .lable_3,.page2 .lable_4,.page2 .lable_5,.page2 .lable_6,.page2 .block,.page2 .building,.page2 .earth{opacity:0;}
@-webkit-keyframes drop{
  from{
      /*opacity:0;*/
      transform: translateY(-100%);
  }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes bounce{
    from{
        /*opacity:0;*/
        transform: scale(1.5);
    }
    70%{
        transform: scale(1);
    }
    90%{
        transform: scale(1.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@-webkit-keyframes fromleft{
    from{
        opacity: 0;
        transform:translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes fromright{
    from{
        opacity: 0;
        transform:translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes showhide{
    from{
        opacity: 0;
        transform:translateY(100%);
    }
    50%{
        opacity: 0.8;
        transform:translateY(0);
    }
    to{
        opacity: 0;
        transform:translateY(100%);
    }
}



