@font-face{
    font-family: 'iconset';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/icomoon.eot);
    src:url(../fonts/icomoon.eot?wwbhei) format('embedded-opentype'),
    url(../fonts/icomoon.svg) format('svg'),
    url(../fonts/icomoon.ttf) format('truetype'),
    url(../fonts/icomoon.woff) format('woff');
}
ul{
    font-family: 'iconset';
    line-height: 40px;
    font-size:20px;
    color: #00aa00;
}